%strong
  Dzień dobry!

%p
  Otrzymujesz tą wiadomość, ponieważ skorzystałeś z opcji zresetowania hasła. Jeśli to nie byłeś Ty, to po prostu zignoruj
  tego maila.

%p
  Poniżej znajduje się link do strony, na której możesz zresetować swoje hasło. Kliknij w link i na stronie z formularzem
  ustaw nowe hasło.

%p
  =link_to edit_password_reset_url(@user.password_reset_token), edit_password_reset_url(@user.password_reset_token)

