= form_tag form_path, :id=> 'pass_form', :class=> 'formtastic' do
  %fieldset#inputs.buttons-cnt
    %ol.cnt
      %li.password.optional.cnt
        =password_field_tag 'pass', '', :style=> 'width:50%;margin-left:auto;margin-right:auto;'

  %fieldset#buttons.buttons-cnt
    %br
    %ol.cnt
      %li.commit
        =submit_tag 'Przejdź do edycji'