=render :partial=> 'shared/site_header', :locals=> {:title=> "Cele charytatywne", :description=> 'Dowiedz się jaki jest cel serwisu'}
#columns_wrapper.main
  .content
    %h2
      Misja serwisu
    %p
      Głównym celem serwisu jest ochrona zleceniodawców i zleceniobiorców przed oszustami, wpłacone pieniądze znajdują się
      na koncie i czekają na wypłatę po zakończenie zlecenia, odsetki od wpłaconych kwot będą przeznaczane w 90% na cele
      charytatywne, pozostałe 10% na obsługę serwisu. Serwis jest całkowicie darmowy, nie pobieramy żadnych opłat za pośrednictwo.
    %p
      Na tej stronie będziemy publikować dane, na jakie cele zostały wpłacone pieniądze. Korzystając z MojejZaliczki możesz
      uchronić się od oszustów i przy okazji wspomóc dobrą ideę.
