=render :partial=> 'shared/site_header', :locals=> {:title=> "Regulamin", :description=> 'Na tej stronie znajdują się główne zasady serwisu'}
#columns_wrapper.main
  .content
    %p
      Regulamin korzystania z serwisu www.mojazaliczka.pl (zwany dalej Regulaminem) jest podstawowym aktem regulującym
      zasady korzystania z serwisu. Regulamin może podlegać zmianom. Warunki wprowadzania zmian do Regulaminu są omówione
      w dalszej treści.

    %h3 Definicje
    %ol.regulations
      %li
        %strong Serwis
        serwis internetowy znajdujący się pod adresem: www.mojazaliczka.pl. Właścicielem serwisu jest: Rafath Khan, ul. Żytnia 12, 16-300 Augustów.
      %li
        %strong Użytkownik
        dowolna osoba fizyczna lub prawna, a także inna jednostka organizacyjna, której przepisy prawa przyznają zdolność
        prawną, posiadająca aktywne konto w Serwisie. Użytkownik może być zarówno zleceniodawcą jak zleceniobiorcą.

      %li
        %strong Zleceniodawca
        Użytkownik Serwisu, który deklaruje wpłatę Zaliczki na rzecz Zleceniobiorcy

      %li
        %strong Zleceniobiorca
        Użytkownik Serwisu, który jest adresatem Zaliczki

      %li
        %strong Zaliczka
        zadeklarowana wpłata pochodząca od Użytkownika, wpłacona na konto bankowe serwisu.

      %li
        %strong Spór
        negocjacje prowadzone między Zleceniodawcą i Zleceniobiorcą w celu wyjaśnienia rezygnacji z płatności za zlecenie

    %h3 Wprowadzanie zmian w regulaminie
    %ol.regulations
      %li
        Serwis zastrzega sobie możliwość zmiany regulaminu Serwisu. Wprowadzane zmiany wchodzą w życie w momencie ich
        publikacji. Jeżeli Użytkownik Serwisu nie zgadza się na wprowadzone zmiany w regulaminie, zobowiązany jest
        zaprzestać korzystania z Serwisu. Logowanie do Serwisu i korzystanie z niego jest jednoznaczne z akceptacją
        regulaminu w jego aktualnym brzmieniu.
        
    %h3 Rejestracja
    %ol.regulations
      %li
        Rejestracja w celu korzystania z usług Serwisu jest możliwa po wypełnieniu pól formularza rejestracyjnego,
        Użytkownik oświadcza, że podane podczas rejestracji dane osobowe są prawdziwe i zgodne ze stanem faktycznym.
      %li
        Użytkownik jest zobowiązany dbać o to, aby jego dane w serwisie były stale aktualne oraz prawdziwe.
        Aktualizacja danych możliwa jest po zalogowaniu w serwisie.
      %li
        W razie stwierdzenia nieprawdziwości lub nierzetelności danych Serwis zastrzega sobie prawo do zablokowania lub
        usunięcia konta Użytkownika.
      %li
        W momencie rejestracji Użytkownik wyraża zgodę na przetwarzanie danych osobowych przez Serwis. Wszelkie dane
        osobowe umieszczone przez Użytkownika podlegają ochronie zgodnie z Ustawą o ochronie danych osobowych z dnia
        29 sierpnia 1997 r. (tekst jednolity Dz.U. z 2002r. nr 101, poz.926 - ze zmianami).
      %li
        Serwis umożliwia Użytkownikom dostęp do swoich danych osobowych oraz ich zmianę, za pośrednictwem stron
        internetowych Serwisu. Użytkownik może ponadto zażądać usunięcia swoich danych osobowych z bazy danych Serwisu.
        w tym celu może wysłać wiadomość email na adres: usun@mojazaliczka.pl
      %li
        Zabrania się korzystania z kont innych Użytkowników a także udostępniania konta innym osobom. Pojedynczy
        Użytkownik może mieć tylko jedno konto w Serwisie. W uzasadnionych przypadkach, po uzyskaniu zgody administratora
        serwisu i na warunkach przez niego podanych, Użytkownik może zarejestrować kolejne konto(a).
      %li
        Administrator serwisu zastrzega sobie prawo do odmowy rejestracji Użytkownika, zablokowania lub usunięcia konta
        Użytkownika bez podania przyczyny.

    %h3 Prawa i obowiązki Zleceniodawcy
    %ol.regulations
      %li
        Zleceniodawca zobowiązny jest do podania kwoty zaliczki, która została ustalona ze Zleceniobiorcą
      %li
        Zleceniodawca zobowiązany jest do wykonania przelewu na rachunek bankowy Serwisu w ciągu 24 godzin, po dodaniu
        informacji o zaliczce Serwisu. Brak wpłaty będzie traktowany jako rezygnacja z zapłaty Zleceniobiorcy za usługę

      %li
        Zleceniodawca odpowiada w stosunku do Zleceniobiorcy za wszelkie błędy lub nieścisłości w opisie zaliczki.
      %li
        Zabronione jest wykorzystywanie przez Użytkowników kodu HTML lub jakichkolwiek języków programowania w sposób mogący
        zakłócić innym Użytkownikom korzystanie z Serwisu
      %li
        Zleceniodawca zobowiązany jest wypłacić Zaliczkę z Serwisu po wykonaniu zlecenia przez Zleceniobiorcę. Jeśli Zleceniodawca
        w ciągu 7 dni od otrzymania prośby dot. wypłaty Zaliczki od Zleceniobiorcy nie wniesie sprzeciwu, Zaliczka zostanie
        automatycznie wypłacona Zleceniobiorcy.
      %li
        Zleceniodawca ma prawo zrezygnować z wypłaty Zaliczki na rzecz Zleceniobiorcy, w tym celu zostanie założony Spór,
        który ma określić, czy Zleceniobiorcy przysługuje prawo do wypłaty Zaliczki.

    %h3 Prawa i obowiązki Zleceniobiorcy
    %ol.regulations
      %li
        Zleceniobiorca jest zobowiązny do weryfikacji czy kwota Zaliczki jest zgodna z ustaleniami ze Zleceniobiorcą
      %li
        Zleceniobiorca jest zobowiązny do weryfikacji czy numer rachunku bankowego jest poprawny i czy należy do Zleceniobiorcy.
        Po wykonanym Zleceniu, Serwis przeleje pieniądze na podane konto. Tylko Zleceniobiorca może zmienić nr rachunku dla
        danej Zaliczki.
      %li
        Zleceniobiorca, po skończeniu Zlecenia, może poprosić o wypłatę Zaliczki, jeśli Zleceniodawca nie wniesie sprzeciwu
        lub nie zareaguje w ciągu 7 dni, Zaliczka zostanie wypłacona na rachunek bankowy podany w szczegółach Zaliczki.
      %li
        Zleceniobiorca ma prawo do stworzenia Sporu, w wypadku, gdy Zleceniodawca nie wywiązuje się z warunków umowy

    %h3 Spory
    %ol.regulations
      %li
        Spory mają na celu wyjaśnienie sytuacji, w których Zleceniodawca nie chce wypłacić Zaliczki Zleceniobiorcy.
      %li
        Spór może być rozpoczęty zarówno przez Zleceniodawcę jak i Zleceniobiorcę.
      %li
        Obie strony mają czas w ciągu czterech dni przedstawić swoje roszczenia wobec drugiej strony. Na stronie Sporu
        każda ze stron powinna dokładnie opisać przebieg zlecenia i przyczynę powstania Sporu.
      %li
        Po określonym terminie czterech dni od rozpoczęcia Sporu, jeśli obie strony nie dojdą do porozumienia, obsługa
        Serwisu zapozna się ze szczegółami Sporu i podejmie niezależna decyzję odnośnie wypłaty Zaliczki.

    %h3 Opłaty i odpowiedzialność Serwisu
    %ol.regulations
      %li
        Serwis jest w pełni darmowy, nie pobiera żadnych opłat ani prowizji
      %li
        Odsetki uzyskane z wpłaconych kwot w 90% będą przeznaczane na cele charytatywne, pozostałe 10% zostanie
        przeznaczone na utrzymanie serwisu.
      %li
        Pieniądze z Zaliczek znajdują się na rachunku bankowym Serwisu, nie są inwestowane ani obracane, Serwis ma na celu
        zagwarantowanie wypłaty Zaliczki Zleceniobiorcy po zakończeniu zlecenia lub zwrot Zleceniodawcy, w przypadku, gdy
        Zleceniobiorca nie wywiąże się ze Zlecenia.
      %li
        Jedyną opcją wpłaty Zaliczki przez Zleceniodawcę jest przelew bankowy na rachunek bankowy Serwisu. Ze względu
        na prowizje, Serwis nie oferuje płatności Online.

    %h3 Postanowienia ogólne
    %ol.regulations
      %li
        W pozostałych kwestiach dotyczących działalności Serwisu kierujemy się zdrowym rozsądkiem
      %li
        Do spraw które nie są wprost opisane w niniejszym regulaminie mają zastosowanie przepisy Kodeksu Cywilnego.
